@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Caveat';
  src: url(/fonts/Caveat-VariableFont_wght.ttf);
}

* {
  font-family: Lexend;
}

.handwriting, .handwriting * {
  font-family: 'Caveat';
}

.App {
  text-align: center;
}

body {
  background: #C0ECFF;
}

#nav-plane {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition:    -moz-transform 0.3s ease-out;
  -o-transition:      -o-transform 0.3s ease-out;
  -ms-transition:     -ms-transform 0.3s ease-out;
  transition:         transform 0.3s ease-out;
}

#runway {
  bottom: 0;
  transform: translateY(50%);
  background: rgb(40, 40, 40, 0.7);
  backdrop-filter: blur(2px);
}

#runway-nums {
  writing-mode: vertical-rl;
  line-height: 90%;
  margin-right: 0.25rem;
}

#lf-note {
  opacity: 0;
  animation: 1s ease-in-out 0.5s 1 normal forwards running fadeIn;
}
.lf-note-modal {
  animation: 0.2s ease-in-out normal forwards running fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.track-prize {
  @apply w-full md:w-7/12 rounded-lg border-2 border-black flex flex-col justify-between px-4 py-2 
}
.track-prize-title {
  @apply font-bold md:font-normal text-lg md:text-base mb-1 md:mb-0
}

@keyframes small-track-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.calendar-date {
  border-bottom: none;
  border-right: 2px solid black;
}
.calendar-date.has-bottom {
  border-bottom: 2px solid black;
}
.calendar-date:nth-child(7n){
  border-right: none;
}

.track-island {
  animation: 8s ease-in-out infinite float;
}

.track-desc {
  opacity: 0;
  bottom: -120%;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.track-desc.track-long-desc-on {
  transition: opacity 0.3s ease, bottom 0.3s ease;
  opacity: 1;
  bottom: 1.25%;
}

.track-box:hover .track-desc, .track-desc.track-desc-holding {
  transition: 0.5s opacity 0.3s ease, 0.5s bottom 0.3s ease;
  opacity: 1;
  bottom: 1.25%;
}

.faq-tab li {
  list-style: inside;
  padding: 0 0 0 1.5rem;
}

#footer a {
  text-decoration: underline;
}

.swiper-slide {
  width: auto !important;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

.speech-bubble {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}
.speech-bubble::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  position: absolute;
  bottom: -0.5rem;
  left: calc(100% - 0.5rem);
  transform: rotate(-45deg);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/* Chrome, Safari, Edge, Opera */
.vault input::-webkit-outer-spin-button,
.vault input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.vault input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 768px) {
  .track-box:hover .track-desc {
    transition: opacity 0.3s ease, bottom 0.3s ease;
    opacity: 1;
    bottom: 1.25%;
  }
  .calendar-date {
    border: none;
    border-top: 2px solid black;
  }
  .calendar-date:nth-child(7n){
    border-right: none;
  }
  .calendar-date:nth-child(-n+7){
    border-bottom: none;
  }
  .calendar-date:nth-last-child(-n+7){
    border-bottom: none;
  }
}