@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Lexend;
}

.App {
  text-align: center;
}

body {
  background: #C0ECFF;
}

.track-prize {
  @apply w-full md:w-7/12 rounded-lg border-2 border-black flex flex-col sm:flex-row justify-between px-4 py-2 
}
.track-prize-title {
  @apply font-bold md:font-normal text-lg md:text-base mb-1 md:mb-0
}

.calendar-date {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.calendar-date:nth-child(7n){
  border-right: none;
}
.calendar-date:nth-last-child(-n+7){
  border-bottom: none;
}
.calendar-date:nth-child(-n+7){
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media (max-width: 768px) { 
  .calendar-date {
    border: none;
    border-top: 2px solid black;
  }
  .calendar-date:nth-child(7n){
    border-right: none;
  }
  .calendar-date:nth-child(-n+7){
    border-bottom: none;
  }
  .calendar-date:nth-last-child(-n+7){
    border-bottom: none;
  }
}