@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Lexend;
}

.App {
  text-align: center;
}

body {
  background: #C0ECFF;
}

.track-prize {
  @apply w-full md:w-7/12 rounded-lg border-2 border-black flex flex-col sm:flex-row justify-between px-4 py-2 
}
.track-prize-title {
  @apply font-bold md:font-normal text-lg md:text-base mb-1 md:mb-0
}

.calendar-date {
  border-bottom: none;
  border-right: 2px solid black;
}
.calendar-date.has-bottom {
  border-bottom: 2px solid black;
}
.calendar-date:nth-child(7n){
  border-right: none;
}

.track-island {
  animation: 8s ease-in-out infinite float;
}

.track-desc {
  opacity: 0;
  bottom: -120%;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.track-desc.track-long-desc-on {
  transition: opacity 0.3s ease, bottom 0.3s ease;
  opacity: 1;
  bottom: 1.25%;
}

.track-box:hover .track-desc, .track-desc.track-desc-holding {
  transition: opacity 0.3s ease, bottom 0.3s ease;
  opacity: 1;
  bottom: 1.25%;
}

.faq-tab li {
  list-style: inside;
  padding: 0 0 0 1.5rem;
}

#footer a {
  text-decoration: underline;
}

.swiper-slide {
  width: auto !important;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}


@media (max-width: 768px) {
  .track-box:hover .track-desc {
    transition: opacity 0.3s ease, bottom 0.3s ease;
    opacity: 1;
    bottom: 1.25%;
  }
  .calendar-date {
    border: none;
    border-top: 2px solid black;
  }
  .calendar-date:nth-child(7n){
    border-right: none;
  }
  .calendar-date:nth-child(-n+7){
    border-bottom: none;
  }
  .calendar-date:nth-last-child(-n+7){
    border-bottom: none;
  }
}